body {
  margin: 0;
  font-family: "proxima-nova";
  color: #fff;
  background-color: #262c32;
  text-align: center;
}
/*
 * Grid
 * ====
 */
.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.grid-container * {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child+html .clearfix {
  zoom: 1;
}
/* IE7 */
.row {
  list-style: none;
  margin: 0 -15px;
}
.col {
  float: left;
  position: relative;
  padding: 0 15px 15px;
}
.col img {
  max-width: 100%;
  height: auto;
}
/* Base Grid */
.col-xs-1 {
  width: 8.333333333333332%;
  float: left;
}
.col-xs-2 {
  width: 16.666666666666664%;
  float: left;
}
.col-xs-3 {
  width: 25%;
  float: left;
}
.col-xs-4 {
  width: 33.33333333333333%;
  float: left;
}
.col-xs-5 {
  width: 41.66666666666667%;
  float: left;
}
.col-xs-6 {
  width: 50%;
  float: left;
}
.col-xs-7 {
  width: 58.333333333333336%;
  float: left;
}
.col-xs-8 {
  width: 66.66666666666666%;
  float: left;
}
.col-xs-9 {
  width: 75%;
  float: left;
}
.col-xs-10 {
  width: 83.33333333333334%;
  float: left;
}
.col-xs-11 {
  width: 91.66666666666666%;
  float: left;
}
.col-xs-12 {
  width: 100%;
  float: left;
}
/* Extra Small Size */
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.333333333333332%;
    float: left;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
    float: left;
  }
  .col-sm-3 {
    width: 25%;
    float: left;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
    float: left;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
    float: left;
  }
  .col-sm-6 {
    width: 50%;
    float: left;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
    float: left;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
    float: left;
  }
  .col-sm-9 {
    width: 75%;
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
    float: left;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
    float: left;
  }
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}
/* Medium Size */
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333333333332%;
    float: left;
  }
  .col-md-2 {
    width: 16.666666666666664%;
    float: left;
  }
  .col-md-3 {
    width: 25%;
    float: left;
  }
  .col-md-4 {
    width: 33.33333333333333%;
    float: left;
  }
  .col-md-5 {
    width: 41.66666666666667%;
    float: left;
  }
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-7 {
    width: 58.333333333333336%;
    float: left;
  }
  .col-md-8 {
    width: 66.66666666666666%;
    float: left;
  }
  .col-md-9 {
    width: 75%;
    float: left;
  }
  .col-md-10 {
    width: 83.33333333333334%;
    float: left;
  }
  .col-md-11 {
    width: 91.66666666666666%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
/* Large Size */
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.333333333333332%;
    float: left;
  }
  .col-lg-2 {
    width: 16.666666666666664%;
    float: left;
  }
  .col-lg-3 {
    width: 25%;
    float: left;
  }
  .col-lg-4 {
    width: 33.33333333333333%;
    float: left;
  }
  .col-lg-5 {
    width: 41.66666666666667%;
    float: left;
  }
  .col-lg-6 {
    width: 50%;
    float: left;
  }
  .col-lg-7 {
    width: 58.333333333333336%;
    float: left;
  }
  .col-lg-8 {
    width: 66.66666666666666%;
    float: left;
  }
  .col-lg-9 {
    width: 75%;
    float: left;
  }
  .col-lg-10 {
    width: 83.33333333333334%;
    float: left;
  }
  .col-lg-11 {
    width: 91.66666666666666%;
    float: left;
  }
  .col-lg-12 {
    width: 100%;
    float: left;
  }
}
/*
 * Helpers
 * =======
 */
.show-sm {
  display: none;
}
.show-md {
  display: block;
}
@media (max-width: 768px) {
  .show-sm {
    display: block;
  }
  .show-md {
    display: none;
    color: #fff;
  }
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row > .wrapper {
  flex-grow: 1;
  width: 50%;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
main {
  padding: 60px 0 0;
}
main .logo {
  margin-bottom: 10px;
}
main h1 {
  font-weight: 600;
  margin: 0 0 10px;
  font-size: 24px;
  letter-spacing: 7px;
}
main .power {
  font-size: 9px;
  font-weight: 100;
  letter-spacing: 2px;
  color: rgba(255,255,255,0.9);
}
main .power span {
  font-size: 12px;
}
main .action {
  margin: 72px 0;
  line-height: 110px;
  letter-spacing: -6px;
}
main .action .strong {
  margin: 0;
  font-size: 105px;
  font-weight: 900;
}
main .input-container {
  text-align: left;
  display: flex;
  justify-content: space-between;
  max-width: 730px;
  margin: 0 auto;
}
main .input-container .input-group {
  width: 100%;
  margin-right: 56px;
  color: #596775;
}
main .input-container .input-group label {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  color: inherit;
}
main .input-container .input-group input {
  display: block;
  border: none;
  border-bottom: 1px solid #596775;
  color: inherit;
  padding: 5px 0 6px;
  width: 100%;
  background-color: transparent;
  letter-spacing: 0.3px;
  outline: none;
}
main .input-container .input-group input::-webkit-input-placeholder {
  color: #fff;
}
main .input-container .website {
  color: #fff;
}
main .input-container .website label {
  color: inherit;
}
main .cta-btn {
  color: #fff;
  margin-top: 30px;
  padding: 20px 28px;
  border: 2px solid #fff;
  border-radius: 33px;
  font-size: 19px;
  letter-spacing: 5px;
}
main .cta-btn .fa-fw {
  font-size: 16px;
  margin-left: 3px;
}
footer {
  width: 100%;
  background-color: #20252b;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}
footer small {
  color: rgba(255,255,255,0.4);
  font-weight: 100;
}
